@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --border: 0 0% 89.5%;
    --primary: 0 0% 3.6%;
    --secondary: 0 0% 96.1%;
    --muted: 0 0% 89.5%;
    --accent: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --muted: 0 0% 14.9%;
    --accent: 142.1 70.6% 45.3%;
  }
}